build/contacts.html
<!DOCTYPE html><html><head><meta charset="UTF-8"><meta name="keywords" content=""><meta name="description" content=""><meta name="author" content=""><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="shortcut icon" href="/favicon.ico"><link rel="stylesheet" href="/css/main.css"><title>Контакты</title></head><body><div class="mainWrapper contacts-page"><header class="header header_bg"><div class="container-content"><div class="uk-flex uk-flex-space-between uk-flex-wrap uk-flex-middle"><div class="header__left"><div class="header__logo"><a href="/"><img src="../img/logo.png"></a></div><nav class="header__nav"><ul class="menu-main"><li class="menu-main__item"><a class="menu-main__link" href="#anchor-0">Акции</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-1">Модельный ряд</a></li><li class="menu-main__item active"><a class="menu-main__link" href="#anchor-2">Кредит</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-3">Сервис</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-4">Трейд-ин</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-5">Контакты</a></li></ul></nav></div><div class="header__right"><a href="tel:+7 (343) 211 10 00 "><i class="icon sprite-i-phone-vol"></i> +7 (343) 211 10 00</a><button class="uk-button" type="button" data-uk-modal="{target:'#modal-call'}">Бесплатный звонок</button><a href="#modal-map" data-uk-modal title="title"><i class="uk-icon-map-marker"></i> Как проехать?</a><a class="sidebar-tgl" href="#sidebar" data-uk-offcanvas>Меню <i class="uk-icon-bars"></i></a></div></div></div></header><div class="page-title"><div class="container-content"><ul class="breadcrumbs"><li class="breadcrumbs__item"><a href="/" target="">Главная</a></li> - <li class="breadcrumbs__item"><span>Контакты</span></li></ul><h1 class="page-title__h1">Контакты</h1></div></div><div class="container-content container-content_padding-all uk-padding-top-remove"><div class="contact-info content"><div class="bg-box uk-margin-small"><h4><b>АМК - ЕКАТЕРИНБУРГ</b></h4><div><b>Адрес:</b> переулок базовый, 10</div><div><b>Телефоны:</b></div><div class="indented-line">салон: (343)2111000</div><div class="indented-line">СТО: (343)2111000</div><div><b>E-mail:</b> info@amkekt.ru</div></div><div class="bg-box uk-margin-small"><div>620100, г.Екатеринбург, Базовый переулок, 10</div><div><b>Телефон:</b> (343) 211-00-00</div><div><b>Часы работы:</b> с 8-00 до 20-00 ежедневно</div><div><b>E-mail:</b> info@lada-amkekt.ru</div></div><div class="bg-box uk-margin-small"><div>По вопросам качества обслуживания, а также по спорным вопросам Вы можете обратиться к Руководителю отдела по работе с клиентами <b>Боровиченко Ярославу, тел.: 211-10-00, 8-912-202-05-19</b>, или написать письмо на адрес <b>Yaroslav.Borovichenko@lada-amkekt.ru</b></div></div></div><div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.585946853844!2d60.65164331629693!3d56.81873598085186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea674c5c8bd%3A0xfa1a4b61ed96bc60!2z0JHQsNC30L7QstGL0Lkg0L_QtdGALiwgMTAsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0KHQstC10YDQtNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDYyMDEwMA!5e0!3m2!1sru!2sru!4v1479712327111" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></div><div class="footWrap"></div></div><footer class="footer"><div class="container-content"><div class="footer__row uk-flex"><div class="footer__left"><div class="footer__soc uk-float-right"><a class="footer__soc-link" href="http://" target="_blank"><i class="uk-icon-vk"></i></a></div><div class="footer__adres"><strong>АМК-Екатеринбург</strong> <br> Екатеринбург, переулок Базовый, 10
</div></div><div class="footer__right"><ul class="footer-menu"><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-0">Granta</a></li><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-1">Kalina</a></li><li class="footer-menu__item active"><a class="footer-menu__link" href="#anchor-2">Priora</a></li><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-3">Vesta</a></li><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-4">Xray</a></li><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-5">Largus</a></li><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-6">4x4</a></li></ul><p class="footer__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div></div></div></footer><div class="uk-modal modal" id="modal-call"><div class="uk-modal-dialog"><a class="uk-modal-close uk-close uk-close-alt" href=""></a><div class="modal__img uk-hidden-small" style="background-image: url('../img/modal-call-img.jpg')"></div><div class="modal__right"><div class="form uk-form uk-form-stacked"><form id="" method="" action=""><div class="uk-form-row"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."></div><div class="uk-form-row"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"></div><div class="uk-form-row"><button class="btn uk-button uk-button-primary uk-width-1-1" type="submit">Перезвоните мне</button></div></form></div></div><div class="uk-modal-caption">Бесплатный <b>звонок</b></div></div></div><div class="uk-modal modal" id="modal-testdrive"><div class="uk-modal-dialog"><a class="uk-modal-close uk-close uk-close-alt" href=""></a><div class="modal__img uk-hidden-small" style="background-image: url('../img/modal-test-img.jpg')"></div><div class="modal__right"><div class="form uk-form uk-form-stacked"><form id="" method="" action=""><div class="uk-form-row"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."></div><div class="uk-form-row"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"></div><div class="uk-form-row"><label class="uk-form-label">Выберите автомобиль</label><div class="uk-form-select uk-width-1-1" data-uk-form-select><span></span><select class="uk-width-1-1"><option>Не выбрано</option><option>Granta</option></select></div></div><div class="uk-form-row"><button class="btn uk-button uk-width-1-1" type="submit">Записаться на тест-драйв</button></div></form></div></div><div class="uk-modal-caption">Записаться на  <b>тест-драйв</b></div></div></div><div class="uk-modal modal" id="modal-map"><div class="uk-modal-dialog uk-modal-dialog-lightbox modal__dialog-width-auto"><a class="uk-modal-close uk-close uk-close-alt" href=""></a><div class="modal-map"><div class="container-content container-content_padding-all"><div class="h1">Схема проезда</div><div class="map-switch js-map-switch"><a class="map-switch__item uk-margin-small uk-vertical-align" href="" style="background-image: url('../img/bg-map-switch-1.jpg')"><div class="uk-vertical-align-bottom">AMK-Екатеринбург</div></a><a class="map-switch__item uk-margin-small uk-vertical-align" href="" style="background-image: url('../img/bg-map-switch-2.jpg')"><div class="uk-vertical-align-bottom">Леруа Мерлен</div></a></div></div><div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.585946853844!2d60.65164331629693!3d56.81873598085186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea674c5c8bd%3A0xfa1a4b61ed96bc60!2z0JHQsNC30L7QstGL0Lkg0L_QtdGALiwgMTAsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0KHQstC10YDQtNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDYyMDEwMA!5e0!3m2!1sru!2sru!4v1479712327111" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></div></div></div><div class="uk-modal modal" id="modal-spinner"><div class="uk-modal-dialog uk-modal-dialog-lightbox modal-in"><a class="uk-modal-close uk-close uk-close-alt" href=""></a><div class="uk-hidden" id="modal-dialog-content"></div><div class="uk-modal-caption"></div><div class="uk-modal-spinner"></div></div></div><div class="sidebar uk-offcanvas" id="sidebar"><div class="uk-offcanvas-bar"><div class="sidebar__wrapp uk-flex"><div class="sidebar__bar uk-flex uk-flex-column uk-flex-space-between"><div></div><div class="sidebar__logo"><a href="/"><img src="../img/logo.png" alt=""></a></div><nav class="sidebar__nav"><ul class="menu-sidebar"><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-0">Акции</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-1">Модельный ряд</a></li><li class="menu-sidebar__item active"><a class="menu-sidebar__link" href="#anchor-2">Кредит</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-3">Сервис</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-4">Трейд-ин</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-5">Контакты</a></li></ul></nav><div></div><div class="sidebar__bottom"><div class="uk-margin"><a href="tel:+7 (343) 211 10 00 "><i class="icon sprite-i-phone-vol"></i> +7 (343) 211 10 00</a></div><div class="uk-margin"><button class="uk-button" type="button" data-uk-modal="{target:'#modal-call'}">Бесплатный звонок</button></div><div class="uk-margin"><a href="#modal-map" data-uk-modal title="title"><i class="uk-icon-map-marker"></i> Как проехать?</a></div></div></div></div></div></div><script src="/js/main.js"></script></body></html>

site/frontend/web/views/pages/contacts.pug
extend ../layout/mainwrapp.pug
block title
  title Контакты
block variables
  - var mainWrapperClass="contacts-page"
block header
  include ../template/header.pug
  +header()(class="header_bg")
block pagetitle
  include ../template/page-title.pug
  +page-title('Контакты')
block content
  .container-content.container-content_padding-all.uk-padding-top-remove
    .contact-info.content
      .bg-box.uk-margin-small
        h4: b АМК - ЕКАТЕРИНБУРГ
        div #[b Адрес:] переулок базовый, 10
        div #[b Телефоны:]
        .indented-line салон: (343)2111000
        .indented-line СТО: (343)2111000
        div #[b E-mail:] info@amkekt.ru
      .bg-box.uk-margin-small
        div 620100, г.Екатеринбург, Базовый переулок, 10
        div #[b Телефон:] (343) 211-00-00
        div #[b Часы работы:] с 8-00 до 20-00 ежедневно
        div #[b E-mail:] info@lada-amkekt.ru
      .bg-box.uk-margin-small
        div.
          По вопросам качества обслуживания, а также по спорным вопросам Вы можете обратиться к Руководителю отдела по работе с клиентами #[b Боровиченко Ярославу, тел.: 211-10-00, 8-912-202-05-19], или написать письмо на адрес #[b Yaroslav.Borovichenko@lada-amkekt.ru]
    .map.
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.585946853844!2d60.65164331629693!3d56.81873598085186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea674c5c8bd%3A0xfa1a4b61ed96bc60!2z0JHQsNC30L7QstGL0Lkg0L_QtdGALiwgMTAsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0KHQstC10YDQtNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDYyMDEwMA!5e0!3m2!1sru!2sru!4v1479712327111" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
