site/frontend/web/views/pages/lightbox-trade-in.pug
.mainWrapper.mainWrapper_lightbox
  .mainWrapper_lightbox__box
    include ../template/slidecarousel.pug
    .uk-grid.uk-grid-divider(data-uk-grid-match)
      .uk-width-small-6-10
        .padding
          .uk-grid.uk-grid-medium.uk-grid-width-small-1-2
            div.uk-margin-small-bottom Год выпуска: #[b 2011]
            div.uk-margin-small-bottom Двигатель: #[b 1,6]
            div.uk-margin-small-bottom Пробег: #[b 68 000 км]
            div.uk-margin-small-bottom КПП: #[b 5 МКПП]
      .uk-width-small-4-10.uk-flex.uk-flex-middle.uk-flex-right
        .padding
          .price.uk-text-primary 280 000 Р.
  .mainWrapper_lightbox__box
    .form.uk-form.uk-form-stacked.padding
      form(id="", method="", action="")
        .uk-form-row.uk-grid.uk-grid-width-small-1-2
          .uk-form-controls
            label.uk-form-label Вас зовут
            input.uk-width-1-1(type="text", placeholder="Введите ваше имя...")
          .uk-form-controls
            label.uk-form-label Контактный телефон
            input.uk-width-1-1.js-mask-phone(type="text", placeholder="+7 (900) 000-00-00")
        .uk-form-row
          button.uk-button.uk-width-1-1(type="submit") Перезвонить мне

build/lightbox-trade-in.html
<div class="mainWrapper mainWrapper_lightbox"><div class="mainWrapper_lightbox__box"><div class="slidecarousel"><ul id="slidecarousel"><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li></ul><div class="slidecarousel__pager"><div id="slidecarousel-bx-pager"><a data-slide-index="0" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="1" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="2" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="3" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="3" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a></div></div></div><div class="uk-grid uk-grid-divider" data-uk-grid-match="data-uk-grid-match"><div class="uk-width-small-6-10"><div class="padding"><div class="uk-grid uk-grid-medium uk-grid-width-small-1-2"><div class="uk-margin-small-bottom">Год выпуска: <b>2011</b></div><div class="uk-margin-small-bottom">Двигатель: <b>1,6</b></div><div class="uk-margin-small-bottom">Пробег: <b>68 000 км</b></div><div class="uk-margin-small-bottom">КПП: <b>5 МКПП</b></div></div></div></div><div class="uk-width-small-4-10 uk-flex uk-flex-middle uk-flex-right"><div class="padding"><div class="price uk-text-primary">280 000 Р.</div></div></div></div></div><div class="mainWrapper_lightbox__box"><div class="form uk-form uk-form-stacked padding"><form id="" method="" action=""><div class="uk-form-row uk-grid uk-grid-width-small-1-2"><div class="uk-form-controls"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."/></div><div class="uk-form-controls"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"/></div></div><div class="uk-form-row"><button class="uk-button uk-width-1-1" type="submit">Перезвонить мне</button></div></form></div></div></div>
