build/service.html
<!DOCTYPE html><html><head><meta charset="UTF-8"><meta name="keywords" content=""><meta name="description" content=""><meta name="author" content=""><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="shortcut icon" href="/favicon.ico"><link rel="stylesheet" href="/css/main.css"><title>Сервис</title></head><body><div class="mainWrapper mainWrapper_bg" style="background-image: url(&quot;../img/slide.jpg&quot;)"><header class="header"><div class="container-content"><div class="uk-flex uk-flex-space-between uk-flex-wrap uk-flex-middle"><div class="header__left"><div class="header__logo"><a href="/"><img src="../img/logo.png"></a></div><nav class="header__nav"><ul class="menu-main"><li class="menu-main__item"><a class="menu-main__link" href="#anchor-0">Акции</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-1">Модельный ряд</a></li><li class="menu-main__item active"><a class="menu-main__link" href="#anchor-2">Кредит</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-3">Сервис</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-4">Трейд-ин</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-5">Контакты</a></li></ul></nav></div><div class="header__right"><a href="tel:+7 (343) 211 10 00 "><i class="icon sprite-i-phone-vol"></i> +7 (343) 211 10 00</a><button class="uk-button" type="button" data-uk-modal="{target:'#modal-call'}">Бесплатный звонок</button><a href="#modal-map" data-uk-modal title="title"><i class="uk-icon-map-marker"></i> Как проехать?</a><a class="sidebar-tgl" href="#sidebar" data-uk-offcanvas>Меню <i class="uk-icon-bars"></i></a></div></div></div></header><div class="page-title"><div class="container-content"><ul class="breadcrumbs"><li class="breadcrumbs__item"><a href="/" target="">Главная</a></li> - <li class="breadcrumbs__item"><span>Сервис</span></li></ul><h1 class="page-title__h1">Сервис</h1></div></div><div class="container-content container-content_padding-all uk-padding-top-remove"><div class="uk-grid uk-grid-medium" data-uk-grid-match="{target: '.bg-box_dark'}"><div class="uk-width-large-3-10 uk-flex uk-margin-bottom"><div class="bg-box_dark uk-flex uk-width-1-1"><div class="form form_transparent uk-form uk-form-stacked uk-width-1-1"><form id="" method="" action=""><div class="uk-form-row"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."></div><div class="uk-form-row"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"></div><div class="uk-form-row"><label class="uk-form-label">Выберите автомобиль</label><select class="uk-width-1-1"><option>Не выбрано</option><option>Granta</option></select></div><div class="uk-form-row"><button class="uk-button uk-width-1-1" type="submit">Записаться на тест-драйв</button></div></form></div></div></div><div class="uk-width-large-7-10"><div class="uk-grid uk-grid-collapse uk-grid-width-large-1-3"><div><div class="bg-box_dark bg-box-info uk-flex uk-flex-center uk-flex-middle uk-text-center"><div><div class="bg-box-info__title">Автомобили отечественного производства, находящиеся на гарантии LADA:</div><p>Техническое обслуживание - <br><span class="uk-text-primary">1100 рублей</span></p><p>Слесарно-диагностические работы - <br><span class="uk-text-primary">900 рублей</span></p><p>Жестяно-покрасочные работы - <br><span class="uk-text-primary">600 рублей</span></p></div></div></div><div><div class="bg-box_dark bg-box-info uk-flex uk-flex-center uk-flex-middle uk-text-center"><div><div class="bg-box-info__title">Автомобили отечественного производства, постгарантия LADA:</div><p>Техническое обслуживание - <div class="uk-text-primary">1100 рублей</div></p><p>Слесарно-диагностические работы - <div class="uk-text-primary">900 рублей</div></p><p>Жестяно-покрасочные работы - <div class="uk-text-primary">600 рублей</div></p></div></div></div><div><div class="bg-box_dark bg-box-info uk-flex uk-flex-center uk-flex-middle uk-text-center"><div><div class="bg-box-info__title">Автомобили импортного производства:</div><p>Техническое обслуживание - <div class="uk-text-primary">1100 рублей</div></p><p>Жестяно-покрасочные работы - <div class="uk-text-primary">600 рублей</div></p></div></div></div></div></div></div></div></div><div class="uk-overflow-hidden"><div class="container-content container-content_padding-all"><div class="content"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><div class="muted-line uk-margin"><div class="uk-grid"><div class="uk-width-large-3-10"><div class="title title_small">Сервисный центр (СТО)</div></div><div class="uk-width-large-7-10"><p><b>Понедельник - воскресенье:</b> 8.00 - 20.00 <br> <i class="uk-text-primary">Без выходных!</i></p><p><b>Тел.:</b> (343) 211-10-00 <br>
<b>E-mail:</b> servis@lada-amkekt.ru</p></div></div></div><div class="uk-grid"><div class="uk-width-large-3-10"><div class="title title_small">Автосервис автоцентра АМК-Екатеринбург оказывает следующие виды услуг:</div></div><div class="uk-width-large-7-10"><h5><b>Диагностика</b></h5><ul><li>один</li><li>два</li><li>три</li><li>четыре</li></ul><h5><b>Следующий заголовок</b></h5><ul><li>один</li><li>два</li><li>три</li><li>четыре</li></ul></div></div></div></div><div class="footWrap"></div></div><footer class="footer"><div class="container-content"><div class="footer__row uk-flex"><div class="footer__left"><div class="footer__soc uk-float-right"><a class="footer__soc-link" href="http://" target="_blank"><i class="uk-icon-vk"></i></a></div><div class="footer__adres"><strong>АМК-Екатеринбург</strong> <br> Екатеринбург, переулок Базовый, 10
</div></div><div class="footer__right"><ul class="footer-menu"><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-0">Granta</a></li><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-1">Kalina</a></li><li class="footer-menu__item active"><a class="footer-menu__link" href="#anchor-2">Priora</a></li><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-3">Vesta</a></li><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-4">Xray</a></li><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-5">Largus</a></li><li class="footer-menu__item"><a class="footer-menu__link" href="#anchor-6">4x4</a></li></ul><p class="footer__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div></div></div></footer><div class="uk-modal modal" id="modal-call"><div class="uk-modal-dialog"><a class="uk-modal-close uk-close uk-close-alt" href=""></a><div class="modal__img uk-hidden-small" style="background-image: url('../img/modal-call-img.jpg')"></div><div class="modal__right"><div class="form uk-form uk-form-stacked"><form id="" method="" action=""><div class="uk-form-row"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."></div><div class="uk-form-row"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"></div><div class="uk-form-row"><button class="btn uk-button uk-button-primary uk-width-1-1" type="submit">Перезвоните мне</button></div></form></div></div><div class="uk-modal-caption">Бесплатный <b>звонок</b></div></div></div><div class="uk-modal modal" id="modal-testdrive"><div class="uk-modal-dialog"><a class="uk-modal-close uk-close uk-close-alt" href=""></a><div class="modal__img uk-hidden-small" style="background-image: url('../img/modal-test-img.jpg')"></div><div class="modal__right"><div class="form uk-form uk-form-stacked"><form id="" method="" action=""><div class="uk-form-row"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."></div><div class="uk-form-row"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"></div><div class="uk-form-row"><label class="uk-form-label">Выберите автомобиль</label><div class="uk-form-select uk-width-1-1" data-uk-form-select><span></span><select class="uk-width-1-1"><option>Не выбрано</option><option>Granta</option></select></div></div><div class="uk-form-row"><button class="btn uk-button uk-width-1-1" type="submit">Записаться на тест-драйв</button></div></form></div></div><div class="uk-modal-caption">Записаться на  <b>тест-драйв</b></div></div></div><div class="uk-modal modal" id="modal-map"><div class="uk-modal-dialog uk-modal-dialog-lightbox modal__dialog-width-auto"><a class="uk-modal-close uk-close uk-close-alt" href=""></a><div class="modal-map"><div class="container-content container-content_padding-all"><div class="h1">Схема проезда</div><div class="map-switch js-map-switch"><a class="map-switch__item uk-margin-small uk-vertical-align" href="" style="background-image: url('../img/bg-map-switch-1.jpg')"><div class="uk-vertical-align-bottom">AMK-Екатеринбург</div></a><a class="map-switch__item uk-margin-small uk-vertical-align" href="" style="background-image: url('../img/bg-map-switch-2.jpg')"><div class="uk-vertical-align-bottom">Леруа Мерлен</div></a></div></div><div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.585946853844!2d60.65164331629693!3d56.81873598085186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea674c5c8bd%3A0xfa1a4b61ed96bc60!2z0JHQsNC30L7QstGL0Lkg0L_QtdGALiwgMTAsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0KHQstC10YDQtNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDYyMDEwMA!5e0!3m2!1sru!2sru!4v1479712327111" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></div></div></div><div class="uk-modal modal" id="modal-spinner"><div class="uk-modal-dialog uk-modal-dialog-lightbox modal-in"><a class="uk-modal-close uk-close uk-close-alt" href=""></a><div class="uk-hidden" id="modal-dialog-content"></div><div class="uk-modal-caption"></div><div class="uk-modal-spinner"></div></div></div><div class="sidebar uk-offcanvas" id="sidebar"><div class="uk-offcanvas-bar"><div class="sidebar__wrapp uk-flex"><div class="sidebar__bar uk-flex uk-flex-column uk-flex-space-between"><div></div><div class="sidebar__logo"><a href="/"><img src="../img/logo.png" alt=""></a></div><nav class="sidebar__nav"><ul class="menu-sidebar"><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-0">Акции</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-1">Модельный ряд</a></li><li class="menu-sidebar__item active"><a class="menu-sidebar__link" href="#anchor-2">Кредит</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-3">Сервис</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-4">Трейд-ин</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-5">Контакты</a></li></ul></nav><div></div><div class="sidebar__bottom"><div class="uk-margin"><a href="tel:+7 (343) 211 10 00 "><i class="icon sprite-i-phone-vol"></i> +7 (343) 211 10 00</a></div><div class="uk-margin"><button class="uk-button" type="button" data-uk-modal="{target:'#modal-call'}">Бесплатный звонок</button></div><div class="uk-margin"><a href="#modal-map" data-uk-modal title="title"><i class="uk-icon-map-marker"></i> Как проехать?</a></div></div></div></div></div></div><script src="/js/main.js"></script></body></html>

src/views/pages/service.pug
extends ../layout/mainwrapp.pug
block title
    title Сервис
block variables
    - var mainWrapperClass = 'mainWrapper_bg'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
block pagetitle
  include ../template/page-title.pug
  +page-title('Сервис')
block content
  .container-content.container-content_padding-all.uk-padding-top-remove
    .uk-grid.uk-grid-medium(data-uk-grid-match="{target: '.bg-box_dark'}")
      .uk-width-large-3-10.uk-flex.uk-margin-bottom
        .bg-box_dark.uk-flex.uk-width-1-1
          .form.form_transparent.uk-form.uk-form-stacked.uk-width-1-1
            form(id="", method="", action="")
              .uk-form-row
                label.uk-form-label Вас зовут
                input.uk-width-1-1(type="text", placeholder="Введите ваше имя...")
              .uk-form-row
                label.uk-form-label Контактный телефон
                input.uk-width-1-1.js-mask-phone(type="text", placeholder="+7 (900) 000-00-00")
              .uk-form-row
                label.uk-form-label Выберите автомобиль
                select.uk-width-1-1
                  option Не выбрано
                  option Granta
              .uk-form-row
                button.uk-button.uk-width-1-1(type="submit") Записаться на тест-драйв
      .uk-width-large-7-10
        .uk-grid.uk-grid-collapse.uk-grid-width-large-1-3
          div
            .bg-box_dark.bg-box-info.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                .bg-box-info__title Автомобили отечественного производства, находящиеся на гарантии LADA:
                p.
                  Техническое обслуживание - <br><span class="uk-text-primary">1100 рублей</span>
                p.
                  Слесарно-диагностические работы - <br><span class="uk-text-primary">900 рублей</span>
                p.
                  Жестяно-покрасочные работы - <br><span class="uk-text-primary">600 рублей</span>
          div
            .bg-box_dark.bg-box-info.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                .bg-box-info__title Автомобили отечественного производства, постгарантия LADA:
                p.
                  Техническое обслуживание - <div class="uk-text-primary">1100 рублей</div>
                p.
                  Слесарно-диагностические работы - <div class="uk-text-primary">900 рублей</div>
                p.
                  Жестяно-покрасочные работы - <div class="uk-text-primary">600 рублей</div>
          div
            .bg-box_dark.bg-box-info.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                .bg-box-info__title Автомобили импортного производства:
                p.
                  Техническое обслуживание - <div class="uk-text-primary">1100 рублей</div>
                p.
                  Жестяно-покрасочные работы - <div class="uk-text-primary">600 рублей</div>
    block footWrap
block content2
  .uk-overflow-hidden
    .container-content.container-content_padding-all
      .content
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .muted-line.uk-margin
          .uk-grid
            .uk-width-large-3-10
              .title.title_small Сервисный центр (СТО)
            .uk-width-large-7-10
              p.
                #[b Понедельник - воскресенье:] 8.00 - 20.00 #[br] #[i.uk-text-primary Без выходных!]
              p.
                #[b Тел.:] (343) 211-10-00 #[br]
                #[b E-mail:] servis@lada-amkekt.ru
        .uk-grid
          .uk-width-large-3-10
            .title.title_small Автосервис автоцентра АМК-Екатеринбург оказывает следующие виды услуг:
          .uk-width-large-7-10
            h5: b Диагностика
            ul
              li один
              li два
              li три
              li четыре
            h5: b Следующий заголовок
            ul
              li один
              li два
              li три
              li четыре
    .footWrap
